:root{
    /* ### Primary */

    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);

    /* ### Neutral */
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}

*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: var(--Light-Gray);
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    height: 60%;
    width: 50%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header-card{
    background-color: rgb(250, 250, 250);
    padding-left: 3%;
    padding-top: 3%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.header-card > h1{
    color: var(--cyan);
    line-height: 1;
    font-size: 1.6rem;

}
.header-card > h3{
    margin-top: 2%;
    margin-bottom: 1%;
    line-height: 1;
    color: var(--bright-yellow);
}
.header-card > p {
    color: var(--Grayish-Blue);
    font-size: 1rem;
}
.big-card{
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom-left-radius: 16px;
}
.first{
    background-color: var(--cyan);
    padding-left: 7%;
    padding-top: 7%;
    padding-bottom: 7%;
    display: grid;
    color: var(--Light-Gray);
    border-bottom-left-radius: 16px;

}
.second{
    background-color: hsl(179, 62%, 62%);
    color: var(--Light-Gray);
    display: grid;
    padding-left: 7%;
    padding-top: 7%;
    padding-bottom: 7%;
    border-bottom-right-radius: 16px;

}
.first > button {
    background-color: var(--bright-yellow);
    border: none;
    width: 81%;

}
#price{
    font-size: 2rem;
    font-weight: 800;
}

@media (max-width: 37em) {
    .container{
        margin: 0;
        padding: 0;
    }
    .wrapper{
        height: 90%;
        width: 90%;
        display: grid;
        grid-template-rows: 30% 70%;
    }
    .big-card{
        display: grid;
        grid-template-columns: 100%;
    }
}